
      <div class="row">
        <section class="main col-md-12">
          <article>
          <h2>About</h2>
          <p>Web App Project that allows users to login and view employees information, perform Create, Read, Update, Delete operations.
            App is built using Node.js, Handlebar.js. Employee data is stored in PostgreSQL database. User data is stored using MongoDB.
          </p>
          </article>
        </section>
      </div>
    